.container {
  height: 100vh;
  display: flex;
}

.chat-wrapper {
  /* background: url(./background.jpg); */
  background: linear-gradient(135deg, #bec55d 0%, #78ad91 90%);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  border: 1px solid #ccc;
  color: black;
}

.chat-field {
  width: 80%;
  margin: 0 auto;
  background: url(./pattern1.png);
  background-size: cover;
  /* background: linear-gradient(135deg, #bec55d 0%, #78ad91 100%); */
  padding: 10px;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.message-container {
  display: flex;
}
.message-div {
  border-radius: 10px;
  margin-bottom: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  overflow-wrap: break-word;
}

.avatar {
  width: 32px;
  padding: 4px;
}
